<footer class="footer">
    <div class="container">
        <div class="footer-row">
            <!-- footer-copyright -->
            <div class="footer-copyright footer-col">
                <div class="footer-copyright-name">
                    © Александр Наумцев
                </div>
                <p>Волк слабее льва и тигра. Но зато в цирке не выступает...
                </p>
            </div>
            <!-- // footer-copyright -->

            <!-- footer-icons -->
            <div class="footer-icons footer-col">
                <p>Мои профили в социальных сетях:</p>
                <div class="footer-icons-row" id="icons-container">
                    <!-- icons -->
                </div>
            </div>
            <!-- // footer-icons -->
            
            <!-- footer-contacts -->
            <div class="footer-contacts footer-col">
                <a href="#" target="_blank" class="footer-button">
                    Связаться Вконтакте
                </a>

                <p>Для оперативной связи писать сюда.</p>
                

            </div>
            <!-- // footer-contacts -->


        </div>
    </div>
    
    <script type="module">
        
        let locList = window.location.pathname.split('/');
        let pad = "";
        if (locList.at(-2) == 'pages'){
            pad = "../";
        };
        import(`./${pad}js/renderContacts.js`); // async
    </script>

</footer>