<header class="header" id="header">
    <!-- <video autoplay muted loop  height=100%>
        <source src="./video/cat-cover.mp4" type="video/mp4">
    </video> -->

    <h1 class="header-title">Александр Наумцев</h1>
    <div class="header-subtitle">Гений, Миллиардер, Плейбой, Филантроп</div>
    <a href="#portfolio" class="header-arrow">
        <img  src="./img/header/chevron-down.svg" alt="Arrow">
    </a>

    <!-- <script src="./libs/jquery/jquery-3.6.3.min.js"></script>
    <script src="./libs/vibe/jquery.vide.min.js "></script>
    <script src="./js/main.js"></script> -->

</header>